#######################################
# Traefik
#######################################

TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443

TZ=Asia/Ho_Chi_Minh

ACME_EMAIL=kifu.dev@gmail.com

#######################################
# Cloudflare
#######################################

CF_TUNNEL_TOKEN=

CF_DNS_API_TOKEN=

CF_ZONE_NEXTCHAT=

CF_ZONE_KIFU=

#######################################
# DDNS
#######################################

DDNS_ALERT_EMAIL=kifu.dev@gmail.com

WAN_IP_PROVIDER=https://icanhazip.com